body{
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
#logo{
    width: 35%;
}
.nav__logo{
    width: 50%;
    padding-top: 10px;
}
.nav__links{
    color: grey;
}
.nav__links a{
    color: grey;
    text-decoration: none;
    padding-right: 20px;
}
.nav__links a:hover{
    color: #4F70D5;
}